<?xml version="1.0"?>

<!-- wang fa an -->
<!-- name 节点的名字，覆盖init中的名字 -->
<!-- pkg 功能包的名字 -->
<!-- type 可执行文件的名字 -->
<!-- output="screen" 把节点的终端信息打印到屏幕上 -->
<launch>
	<node name="nuogeng_node" pkg="nuogeng" type="nuogeng_node" output="screen">
		<param name="port_name" value="/dev/ttyUSB0"/>
		<param name="is_ll2utm" value="true"/>
		<param name="odom_topic" value="/odom"/>
	</node>
	
<!--	<node name="satellite_node" pkg="nuogeng" type="satellite_node" output="screen">-->
<!--		<param name="port_name" value="/dev/ttyUSB1"/>-->
<!--	</node>-->
<!--	-->
<!--	<node name="record_gps_satellite" pkg="nuogeng" type="record_gps_satellite" output="screen">-->
<!--		<param name="odom_topic" value="/odom"/>-->
<!--		<param name="use_synchronizer" value="True"/>-->
<!--		<param name="record_duration" value="1.0"/>-->
<!--		<param name="satellite_file" value="$(find nuogeng)/data/satellite.txt"/>-->
<!--		<param name="gps_file" value="$(find nuogeng)/data/gps.txt"/>-->
<!--	</node>-->
</launch>
